<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="sub-nav">
      <div class="page-pane">
        <p class="page-title">Cart</p>
      </div>
    </div>
    <div class="main-content">
      <% if (products.length > 0) { %>
        <div class="content-pane">
          <% for (let p of products) { %>
            <div class="card-block">
              <div class="header-view">
                <p><%= p.productName %></p>
                <span>(<%= p.cartItem.quantity %>)</span>
              </div>
              <div class="body">
                <div class="body-content">
                  <div class="image">
                    <img
                    src="<%= p.imageUrl %>"
                    alt="shoe"
                    height="200"
                    width="250"
                    />
                  </div>
                  <div class="desc">
                    <div class="">
                      <span class="desc-title">Description</span>
                      <p class="desc-text"><%= p.description %></p>
                    </div>
                    <div class="price">
                      <span class="price-title">Price</span>
                      <span class="price-tag">$<%= p.amount %></span>
                    </div>
                  </div>
                </div>
                <div class="actions">
                  <div class="">
                    <form action="/cart/removeItem" method="POST">
                      <button type="submit" class="cart-btn">
                        Remove
                      </button>
                      <input type="hidden" name="productId" value="<%= p.id %>" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      <% } else { %>
        <div class="zero-pane">
          <p class="no-prod">No Product available in your cart!</p>
        </div>
      <% } %>
    </div>
<%- include('../includes/end.ejs') %>
